# public/.htaccess
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    RewriteCond %{REQUEST_URI} /api/
    RewriteRule ^ api/index.php [L,QSA]
            
    # All other requests
    RewriteRule .* index.php [L]
</IfModule>